:root {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --content-width: 100%;
    --bad-grade-color: red;
    --medium-grade-color: orange;
    --green-grade-color: green;
    --light-gray: #ddd;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --grey: #f0eef1;
}

.mep-image {
    width: 10rem;
    height: 10rem;
    border: 5px solid;
    object-fit: cover;
    background-color: #ddd; /* This is a light grey, use any color you prefer */
    border-radius: 50%; /* This makes the image round */
}

.group-logo,
.country-logo {
    height: 2rem;
}

.country-logo {
    border: 2px solid var(--light-gray);
}

.good-border {
    border-color: var(--green-grade-color);
}

.medium-border {
    border-color: var(--medium-grade-color);
}

.bad-border {
    border-color: var(--bad-grade-color);
}

.good-mep {
    color: var(--green-grade-color);
}

.medium-mep {
    color: var(--medium-grade-color);
}

.bad-mep {
    color: var(--bad-grade-color);
}

.bold {
    font-weight: 800;
}

.extra-bold {
    font-weight: 900;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    padding: 0;
    line-height: 1.1;
}

.h1 {
    font-size: 2.488rem;
}

.h2 {
    font-size:2.074rem;
}

.h3 {
    font-size: 1.728rem;
}

.h4 {
    font-size: 1.44rem;
}

.h5, 
.text-big {
    font-size: 1.2rem;
}

.h6 {
    font-size: 1rem;
}

a {
    color: black;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--grey);
}

.gallery {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
}

footer {
    margin-top:  auto;
}

main {
    margin: 1rem 0;
    display: flex;
    flex: 1;
}

.container {
    margin: 0 auto;
    width: var(--content-width);
    max-width: 1120px;
}

.header-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.footer-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

.menu {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.underlined {
    text-decoration: underline;
}

.site-header {
    background-color: white;
    border-bottom: 1px solid var(--light-gray);
    box-shadow: var(--shadow);
}

.site-footer {
    background-color: white;
    border-top: 1px solid var(--light-gray);
}

@media (max-width: 1200px) {
    :root {
        --content-width: 80%;
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    :root {--content-width: 90%;}
    .gallery {
        grid-template-columns: 1fr;
    }
}

#search {
    padding: 1rem;
    margin: 1rem 0;
}

#search :focus {
    border-color: black;
}

.border-light-gray{
    border: 1px solid var(--light-gray);
    border-radius: 5px;
}

.card {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    flex: 1 0 30%;
    background-color: white;
}

.mep-info {
    display:flex;
    gap: 1rem;
    margin:0;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center
}

.mep-info {
    list-style-type: none;
}

.mep-name {
    text-align: center;
}