body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

.header-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.footer-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.menu {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 50rem;
    max-width: 90%;
    margin: 0 auto;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
}

.site-header,
.site-footer {
    background-color: white;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 2rem;
}

.underlined {
    text-decoration: underline;
}

.site-header {
    border-bottom: 1px solid #ddd;
}

.site-footer {
    border-top: 1px solid #ddd;
}

#meps-table {
    width: 100%;
    border-collapse: collapse;
}

#meps-table th, #meps-table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
}